<div class="container-fluid mt-3">

  <h3 class="mb-4 text-center selected bg-waves rounded p-3 ">Editar Incidencia</h3>

  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="mt-4 mb-4 mx-5">

    <div class="row mb-4">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-end justify-content-end mb-3">
        <div class="form-group small w-100">
          <label for="resumen"><b>Resumen:</b></label>
          <div class="input-group input-group-sm">
            <textarea type="text" class="form-control" name="resumen" id="resumen" [(ngModel)]="model.resumen"
              disabled></textarea>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
        <div class="form-group small w-100">
          <label for="dia"><b>Día:</b></label>
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="dia" id="dia" [(ngModel)]="model.dia" disabled>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
        <div class="form-group small w-100">
          <label for="u-nombre"><b>Nombre Empleado:</b></label>
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="u-nombre" id="u-nombre"
              [(ngModel)]="model.usuario!.nombreEmpleado" disabled>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
        <div class="form-group small w-100">
          <label for="u-numero"><b>Número Empleado:</b></label>
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="u-numero" id="u-numero" [(ngModel)]="model.usuario!.numero"
              disabled>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
        <div class="form-group small w-100">
          <label for="u-email"><b>Email Empleado:</b></label>
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="u-email" id="u-email" [(ngModel)]="model.usuario!.email"
              disabled>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
        <div class="form-group small w-100">
          <label for="resuelta"><b>Incidencia resuelta:</b></label>
          <select class="form-control form-control-sm" name="resuelta" id="resuelta" [(ngModel)]="model.resuelta">
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-end justify-content-end mb-3">
        <div class="form-group small w-100">
          <label for="explicacion"><b>Explicación:</b></label>
          <div class="input-group input-group-sm">
            <textarea type="text" class="form-control" name="explicacion" id="explicacion"
              [(ngModel)]="model.explicacion"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex flex-row justify-content-end">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-boton-guardar class="w-100" [valid]="f.valid"></app-boton-guardar>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-boton-volver class="w-100" routerLink="/intranet/incidencias"></app-boton-volver>
      </div>
    </div>

  </form>
  <div class="w-100 text-center mt-5 mb-5">
    <button class="mx-auto btn btn-outline-danger btn-sm " (click)="onDelete()"> <i class="bi bi-trash"></i>
      Eliminar incidencia
    </button>
  </div>


</div>