/* a {
  color: #fff;
  text-decoration: none;
}

td {
   width: 11.1%; 
}
.filter {
  font-size: small;
}

input {
  width: 3.5em;
  margin-left: 1em !important;
}
input.form-control {
  margin-left: 0 !important;
}
 */
