<div class="container-fluid mt-3">

  <h3 class="mb-4 text-center selected bg-waves rounded p-3 ">Búsqueda de empleados</h3>

  <form class="my-3 mx-0 bg-light px-4 pt-2 rounded ">
    <div class="row mb-4">

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-text class="w-100" [(inputValue)]="dto.nombreEmpleado" (clear)="clearNombre()"
          (list)="listarElementos()" [name]="'Nombre'" [id]="'nombre'"></app-input-filter-text>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-text class="w-100" [(inputValue)]="dto.email" (clear)="clearEmail()"
          (list)="listarElementos()" [name]="'Email'" [id]="'email'"></app-input-filter-text>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-text class="w-100" [(inputValue)]="dto.numero" (clear)="clearNumero()"
          (list)="listarElementos()" [name]="'Número'" [id]="'numero'"></app-input-filter-text>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-range class="w-100" [(inputValue)]="dto.diasVacacionesDesde"
          (clear)="clearDiasVacacionesDesde()" (list)="listarElementos()" [name]="'Días Vacaciones Desde'"
          [id]="'dias-desde'">
        </app-input-filter-range>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-range class="w-100" [(inputValue)]="dto.diasVacacionesHasta"
          (clear)="clearDiasVacacionesHasta()" (list)="listarElementos()" [name]="'Días Vacaciones Hasta'"
          [id]="'dias-hasta'">
        </app-input-filter-range>
      </div>


      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-range class="w-100" [(inputValue)]="dto.horasGeneradasDesde" (clear)="clearHorasDesde()"
          (list)="listarElementos()" [name]="'Horas Generadas Desde'" [id]="'horas-desde'">
        </app-input-filter-range>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-range class="w-100" [(inputValue)]="dto.horasGeneradasHasta" (clear)="clearHorasHasta()"
          (list)="listarElementos()" [name]="'Horas Generadas Hasta'" [id]="'horas-hasta'">
        </app-input-filter-range>
      </div>


      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <div class="form-group small w-100">
          <label class="small" for="en-vacaciones"><b>De Vacaciones:</b></label>
          <select class="form-control form-control-sm" name="en-vacaciones" id="en-vacaciones"
            [(ngModel)]="dto.enVacaciones" (change)="listarElementos()">
            <option value="">Todos</option>
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <div class="form-group small w-100">
          <label class="small" for="de-baja"><b>De Baja:</b></label>
          <select class="form-control form-control-sm" name="de-baja" id="de-baja" [(ngModel)]="dto.deBaja"
            (change)="listarElementos()">
            <option value="" selected>Todos</option>
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <div class="form-group small w-100">
          <label class="small" for="working"><b>Trabajando:</b></label>
          <select class="form-control form-control-sm" name="working" id="working" [(ngModel)]="dto.working"
            (change)="listarElementos()">
            <option value="" selected>Todos</option>
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <!--               <button class="btn bg-blue btn-sm w-100" (click)="clear()">Borrar Filtros</button> -->
        <app-boton-borrar-filtros class="w-100" (click)="clear()"></app-boton-borrar-filtros>
      </div>
    </div>
  </form>

  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>
          <app-th-sort [entity]="'nombreEmpleado'" [name]="'Nombre'" [asc]="asc" [order]="order"
            (sort)="setOrder($event)"></app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'email'" [name]="'Email'" [asc]="asc" [order]="order" (sort)="setOrder($event)">
          </app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'numero'" [name]="'Número'" [asc]="asc" [order]="order" (sort)="setOrder($event)">
          </app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'dni'" [name]="'DNI'" [asc]="asc" [order]="order" (sort)="setOrder($event)">
          </app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'diasVacaciones'" [name]="'Días Vacaciones'" [asc]="asc" [order]="order"
            (sort)="setOrder($event)"></app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'horasGeneradas'" [name]="'Horas Generadas'" [asc]="asc" [order]="order"
            (sort)="setOrder($event)"></app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'enVacaciones'" [name]="'De Vacaciones'" [asc]="asc" [order]="order"
            (sort)="setOrder($event)"></app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'deBaja'" [name]="'De Baja'" [asc]="asc" [order]="order" (sort)="setOrder($event)">
          </app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'working'" [name]="'Trabajando'" [asc]="asc" [order]="order" (sort)="setOrder($event)">
          </app-th-sort>
        </th>
        <th *ngIf="isAdmin">Ver Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elemento of listaElementos">
        <td>{{elemento.nombreEmpleado}}</td>
        <td>{{elemento.email}}</td>
        <td>{{elemento.numero}}</td>
        <td>{{elemento.dni}}</td>
        <td>{{elemento.diasVacaciones}}</td>
        <td>{{elemento.horasGeneradas}}</td>
        <td *ngIf="elemento.enVacaciones">Si</td>
        <td *ngIf="!elemento.enVacaciones">No</td>
        <td *ngIf="elemento.deBaja">Si</td>
        <td *ngIf="!elemento.deBaja">No</td>
        <td *ngIf="elemento.working">Si</td>
        <td *ngIf="!elemento.working">No</td>
        <td *ngIf="isAdmin" routerLink='/intranet/empleados/list/{{elemento.id}}'><div class="w-100 h-100 btn btn-outline-secondary"><i class="bi bi-eye-fill"></i></div></td>
      </tr>
    </tbody>
  </table>
  <app-pagination [pag]="pag" (paginacion)="onPaginate($event)"></app-pagination>
</div>

<app-boton-descarga-csv [apiEndPoint]="'usuario/listFiltered'" [dto]="dto" [fileName]="'empleados'" [service]="service"
  [headers]="headers"></app-boton-descarga-csv>