<div class="container-fluid mt-3">

  <h3 class="mb-4 text-center selected bg-waves rounded p-3">Búsqueda de Fichajes</h3>

  <form class="my-3 mx-0 bg-light px-4 pt-2 rounded ">
    <div class="row mb-4">

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-range-time class="w-100" [(inputValue)]="dto.horaDesde" (clear)="clearHoraDesde()"
          (list)="listarElementos()" [name]="'Hora Desde'" [id]="'hora-desde'">
        </app-input-filter-range-time>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-range-time class="w-100" [(inputValue)]="dto.horaHasta" (clear)="clearHoraHasta()"
          (list)="listarElementos()" [name]="'Hora Hasta'" [id]="'hora-hasta'">
        </app-input-filter-range-time>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-range-dates class="w-100" [(inputValue)]="dto.diaDesde" (clear)="clearDiaDesde()"
          (list)="listarElementos()" [name]="'Desde'" [id]="'desde'">
        </app-input-filter-range-dates>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-range-dates class="w-100" [(inputValue)]="dto.diaHasta" (clear)="clearDiaHasta()"
          (list)="listarElementos()" [name]="'Hasta'" [id]="'hasta'">
        </app-input-filter-range-dates>
      </div>

      <div *ngIf="isAdmin"
        class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-text class="w-100" [(inputValue)]="dto.nombreUsuario" (clear)="clearNombre()"
          (list)="listarElementos()" [name]="'Nombre Emp'" [id]="'nombre'"></app-input-filter-text>
      </div>

      <div *ngIf="isAdmin"
        class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-input-filter-text class="w-100" [(inputValue)]="dto.numeroUsuario" (clear)="clearNumero()"
          (list)="listarElementos()" [name]="'Número Emp'" [id]="'numero'"></app-input-filter-text>
      </div>


      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
        <app-boton-borrar-filtros class="w-100" (click)="clear()"></app-boton-borrar-filtros>
      </div>
    </div>
  </form>
  <table class="table table-hover text-center">

    <thead>
      <tr>
        <th>
          <app-th-sort [entity]="'dia'" [name]="'Día'" [asc]="asc" [order]="order" (sort)="setOrder($event)">
          </app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'hora'" [name]="'Hora'" [asc]="asc" [order]="order" (sort)="setOrder($event)">
          </app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'tipo'" [name]="'Tipo'" [asc]="asc" [order]="order" (sort)="setOrder($event)">
          </app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'usuarioNombreEmpleado'" [name]="'Nombre Empleado'" [asc]="asc" [order]="order"
            (sort)="setOrder($event)">
          </app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'usuarioNumero'" [name]="'Número Empleado'" [asc]="asc" [order]="order"
            (sort)="setOrder($event)">
          </app-th-sort>
        </th>
        <th>
          <app-th-sort [entity]="'origen'" [name]="'Origen'" [asc]="asc" [order]="order" (sort)="setOrder($event)">
          </app-th-sort>
        </th>
        <th *ngIf="isAdmin">Ver Detalle</th>
      </tr>
    </thead>

    <tbody>

      <!--       <tr routerLink='/intranet/fichajes/list/{{elemento.id}}' *ngFor="let elemento of listaElementos"> -->
      <tr *ngFor="let elemento of listaElementos">
        <td>{{elemento.dia}}</td>
        <td>{{elemento.hora}}</td>
        <td>{{elemento.tipo}}</td>
        <td>{{elemento.usuario.nombreEmpleado}}</td>
        <td>{{elemento.usuario.numero}}</td>
        <td>{{elemento.origen}}</td>
        <td *ngIf="isAdmin" routerLink='/intranet/fichajes/list/{{elemento.id}}'><div class="w-100 h-100 btn btn-outline-secondary"><i class="bi bi-eye-fill"></i></div></td>
      </tr>
    </tbody>
  </table>

  <app-pagination [pag]="pag" (paginacion)="onPaginate($event)"></app-pagination>

</div>

<app-boton-descarga-csv [apiEndPoint]="'fichaje/listFiltered'" [dto]="dto" [fileName]="'fichajes'" [service]="service"
  [headers]="headers"></app-boton-descarga-csv>